/* alternate colors */
/* corner values for bubble up and down */
body::before {
  display: none;
}
.typ-subhed {
  font-family: 'Oswald', sans-serif;
  font-size: 23px;
  line-height: 25px;
  letter-spacing: 0;
}

.ctrl-standard.fx-sliderIn {
  color: #f0b81f;
  border-color: #f0b81f;
}
.ctrl-standard.fx-sliderIn::after {
  background: #f0b81f;
}
.ctrl-standard.fx-sliderIn.is-reversed::after {
  width: 300%;
}
.ctrl-standard.fx-sliderIn.is-reversed:hover {
  color: #f0b81f;
}
.ctrl-standard.fx-sliderIn.is-reversed:hover::after {
  width: 0;
}
[class*="ctrl-"] {
  padding: 5ox 10px;
  border-radius: 2px;
  border: 1px solid #231f20;
}
[class*="ctrl-"][class*="fx-"]:hover,
[class*="ctrl-"][class*="fx-"].active {
  color: #231f20;
}
[class*="ctrl-"][class*="fx-"].is-reversed {
  color: #231f20;
}

  [class*="fx-"],
[class*="fx-"]:hover {
    transition: color 0.5s  ease-in-out;
  }
  [class*="fx-"]:not(.fx-dyna) {
    position: relative;
    z-index: 1;
    transition-delay: 0.2s !important;
    overflow: hidden;
  }
  [class*="fx-"]:not(.fx-dyna)::after,
[class*="fx-"]:not(.fx-dyna)::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
  }
  [class*="fx-bubble"]::after {
    transition: height 0.5s ease-in-out;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
  }
  [class*="fx-bubble"]:hover::after,
[class*="fx-bubble"].active::after {
    transition: height 0.5s ease-in-out;
    height: 300%;
  }
  [class*="fx-bubble"]:disabled:hover::after {
    height: 0;
  }
  .fx-sliderIn::after {
    transition: width 0.5s ease-in-out;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 0;
  }
  .fx-sliderIn:hover::after,
.fx-sliderIn.active::after {
    transition: width 0.5s ease-in-out;
    width: 100%;
  }
  :checked + .fx-sliderIn::after,
.fx-sliderIn.active::after {
    width: 300%;
  }
