body {
     font-family: "Century Gothic", 'Lato', sans-serif;
}
 a {
     text-decoration: none;
}
 .et-hero-tabs, .et-slide {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 100vh;
     position: relative;
     background: #eee;
     text-align: center;
     padding: 0 2em;
}
 .et-hero-tabs h1, .et-slide h1 {
     font-size: 2rem;
     margin: 0;
     letter-spacing: 1rem;
}
 .et-hero-tabs h3, .et-slide h3 {
     font-size: 2rem;
     letter-spacing: 0.3rem;
     opacity: 0.1;
}
 .et-hero-tabs-container {
     display: flex;
     flex-direction: row;
     position: absolute;
     bottom: 0;
     width: 100%;
     height: 70px;
     box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
     background: #1f4068;
     z-index: 10;
     opacity: 1;
}
 .et-hero-tabs-container--top {
     position: fixed;
     top: 0;
}
 .et-hero-tab {
     display: flex;
     justify-content: center;
     align-items: center;
     flex: 1;
     color: #ffdbc5;
     letter-spacing: 0.1rem;
     transition: all 0.5s ease;
     font-size: 0.8rem;
}
 .et-hero-tab:hover {
     color: #0f4c75;
     background: #7fdbda;
     transition: all 0.5s ease;
}
 .et-hero-tab-slider {
     position: absolute;
     bottom: 0;
     width: 0;
     height: 6px;
     background: #a3f7bf;
     transition: left 0.3s ease;
}
 @media (min-width: 800px) {
     .et-hero-tabs h1, .et-slide h1 {
         font-size: 3rem;
    }
     .et-hero-tabs h3, .et-slide h3 {
         font-size: 1rem;
    }
     .et-hero-tab {
         font-size: 1rem;
    }
}

.saqqara {
  background-color: #592b99;
}

.events {
  background-color: #f0a500;
}

.about, .about h3 {
  background-color: #0d7377;
  opacity: 1;
  color: white;
  outline: black 1px solid;
}

.team, .team h3 {
   background-color: #ffd5cd;
   opacity: 1;
}

.contact h3 {
  background-color: #0278ae;
  opacity: 1;
}
