body {
     font-family: "Century Gothic", 'Lato', sans-serif;
}
 a {
     text-decoration: none;
}
 .et-hero-tabs, .et-slide {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 100vh;
     position: relative;
     background: #eee;
     text-align: center;
     padding: 0 2em;
}
 .et-hero-tabs h1, .et-slide h1 {
     font-size: 2rem;
     margin: 0;
     letter-spacing: 1rem;
}
 .et-hero-tabs h3, .et-slide h3 {
     font-size: 2rem;
     letter-spacing: 0.3rem;
     opacity: 0.1;
}
 .et-hero-tabs-container {
     display: flex;
     flex-direction: row;
     position: absolute;
     bottom: 0;
     width: 100% !important;
     height: 50px;
     box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
     background: #000000;
     z-index: 10;
     opacity: 1;
}
 .et-hero-tabs-container--top {
     position: fixed;
     top: 0;
}
 .et-hero-tab {
     display: flex;
     justify-content: center;
     align-items: center;
     flex: 1;
     color: #ffdbc5;
     letter-spacing: 0.1rem;
     transition: all 0.5s ease;
     font-size: 0.8rem;
}
 .et-hero-tab:hover {
     color: #0f4c75;
     background: #7fdbda;
     transition: all 0.5s ease;
}
 .et-hero-tab-slider {
     position: absolute;
     bottom: 0;
     width: 0;
     height: 6px;
     background: #a3f7bf;
     transition: left 0.3s ease;
}
 @media (min-width: 800px) {
     .et-hero-tabs h1, .et-slide h1 {
         font-size: 3rem;
    }
     .et-hero-tabs h3, .et-slide h3 {
         font-size: 1rem;
    }
     .et-hero-tab {
         font-size: 1rem;
    }
}

.about, .about h3 {
  background: #06beb6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #48b1bf, #06beb6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  opacity: 1;
  color: white;
  outline: black 1px solid;
}

.team, .team h3 {
  background: #FFAFBD;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
   opacity: 1;
}

.contact h3 {
  background-color: #0278ae;
  opacity: 1;
}

.events {
  background-color: black;

}

.saqqara {
  background: #74ebd5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
